@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Karla", sans-serif;
}

body {
  padding: 0 10% 0 10%;
  margin: 0 auto;
  max-width: 1440px;
  font-size: 1.6rem;
  color: #323a45;
}

a {
  text-decoration: none;
  color: #323a45;
}

/* ######################### RESOURCES ###########################

font-family: 'Karla', sans-serif;

Farbe: #323A45 / #848484

######################### RESOURCES END ####################### */

/* ######################### HEADER ######################## */

header {
  padding: 5% 0;
}

header nav h1 {
  font-size: 2.5rem;
  transition: all 0.5s;
  font-weight: 700;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav div {
  display: none;
}

header nav ul {
  display: flex;
  list-style: none;
  align-items: baseline;
  gap: 7vh;
  justify-content: space-between;
}

header nav ul li a {
  text-decoration: none;
  color: #323a45;
  font-weight: 700;
  transition: all 0.5s;
}

.hover:hover {
  opacity: 0.2;
  transition: all 0.5s;
  cursor: pointer;
}

/* ######################### MAIN ######################## */

.article_headline {
  margin: 0.5% 0 0.5% 0;
}

.article_price {
  text-align: right;
}

.article_prod {
  color: #848484;
}

.textspace > div {
  display: flex;
  justify-content: space-between;
}

.textspace > a {
  transition: all 0.5s;
}

.textspace > a:hover {
  opacity: 0.2;
  transition: all 0.5s;
}

/* ######################### GRID ######################## */

.bigImage img {
  width: 100%;
}

.bigImage {
  grid-column: 1/4;
}

.prod_section_grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 3fr);
}

.smallImage img {
  width: 100%;
}

/* ######################### FOOTER ######################## */

.footer {
  padding: 5vh 0 0 0;
  display: grid;
  grid-template-columns: 1.5fr 0.7fr 1.2fr 1fr;
}

.footer > div {
  margin: 0 0 10% 0;
}

.footer > div h3 {
  padding: 0 0 3vh 0;
  font-size: 1.7rem;
}

.footer > div > p {
  line-height: 1.5;
}

.footer > div > p > a {
  text-decoration: none;
  color: #323a45;
}

.footer > div > p > a:hover {
  text-decoration: underline;
}

.footer > div > p > a span {
  font-weight: 700;
}

.footer > p {
  margin: 5vh 0 3% 0;
}

.wulff {
  text-align: right;
}

/* ######################### PRODUCTDETAILS ######################## */

.goback {
  padding: 3vh 0 2vh 0;
  text-align: center;
}

.detail_img {
  width: 100%;
}

/* ######################### ADD PRODUCT ######################## */

.add_headline {
  padding: 2vh 0;
  text-align: center;
  font-size: 2.5rem;
}

.add_product_div {
  display: grid;
  row-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.add_btn {
  display: block;
  margin: 1vh auto;
  padding: 5px 10px;
  border: 0px;
  background: #323a45;
  color: #ffffff;
  border-radius: 8px;
}

/* ######################### MEDIAQUERIES maxWidth: 576px ######################## */

@media only screen and (max-width: 576px) {
  body {
    max-width: 576px;
    padding: 0 10%;
  }

  /* ######################### HEADER ######################## */

  header > nav > ul:nth-of-type(1) {
    display: none;
  }

  header nav div {
    display: inline-block;
  }

  .slidemenu {
    position: absolute;
    width: 55%;
    height: 30%;
    top: 10vh;
    right: 100%;
    bottom: 0;
    left: -100%;
    background-color: #323a45;
    color: #fff;
    border-radius: 10px;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.6s linear;
  }

  .slidemenu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
  }

  .slidemenu ul li a {
    color: #fff;
    font-size: 1.5rem;
  }

  .mobilemenu {
    display: block;
    background: #323a45;
    width: 60px;
    height: 40px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    transition: border-radius 0.5s;
  }

  .slidemenushow {
    left: 0;
    right: 0;
  }

  .line {
    position: absolute;
    left: 10px;
    height: 3px;
    width: 40px;
    background: #fff;
    border-radius: 3px;
    display: block;
    transition: 0.5s;
    transform-origin: center;
  }

  .line:nth-child(1) {
    top: 10px;
  }

  .line:nth-child(2) {
    top: 20px;
  }

  .line:nth-child(3) {
    top: 30px;
  }

  .mobilemenu.checked .line:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
  }

  .mobilemenu.checked .line:nth-child(2) {
    opacity: 0;
  }

  .mobilemenu.checked .line:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
  }

  /* ######################### GRID ######################## */

  .bigImage img {
    width: 100%;
  }

  .prod_section_grid {
    display: grid;
    gap: 10px;
    grid-template-rows: 1fr;
  }

  .smallImage img {
    width: 100%;
  }

  /* ######################### FOOTER ######################## */

  .footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .wulff {
    text-align: center;
  }
}
